@import '../../Style/variable.scss';

.section {
    --pt: 0px;
    --pb: 0px;
    padding: var(--pt) 0 var(--pb);

    @include lg {
        --pt: 0px;
        --pb: 0px;
    }
}

.row {
    @include lg {
        --bs-gutter-x: 40px;
    }
}