@import '../../Style/variable.scss';

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1050;
    background-color: #fff;

    .logo {
        --bs-aspect-ratio: 38%;
        width: 160px;
    }

    :global(.navbar) {
        @include lg {
            --bs-navbar-nav-link-padding-x: 1rem;
        }
    }
}